/* 
---------------------------------
Base styles
---------------------------------
*/

body {
	background-color: #d0eae6;
	width: 800px;
	margin-left: 50%;
	/* margin: auto; */
	position: relative;
}

p {
	font-size: 20px;
	font-family: sans-serif;
	color: blue !important;
}

p:hover {
	color: blueviolet;
}

img {
	width: 100%;
}

/* 
---------------------------------
Body styles
---------------------------------
*/

.intro-text {
	background-color: lightgreen;
	font-family: serif;
	color: green;
	width: 50%;
	padding: 1rem 2rem 3rem 4rem;
}

/* 
---------------------------------
Navigation styles
---------------------------------
*/

.navigation {
	border: 1px solid darkgoldenrod;
	padding: 0;
	position: fixed;
	top: 2rem;
	left: 2rem;
}

.navigation__list {
	list-style: none;
	padding: 0;
	margin: 0.5rem;
}

.navigation__sublist {
	list-style: none;
	padding: 0 0 0 2rem;
	margin: 0;
}

.navigation__item {
}

.navigation__link {
	display: block;
	text-decoration: none;
	padding: 0.5rem;
	font-family: sans-serif;
	color: darkgoldenrod;
}